@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h4>ChannelEngineAssessment run-code Repository</h4>



<p>
    A starter kit for your next web application. Boilerplate for ASP.NET Core reference application with Entity Framework Core, demonstrating a layered application architecture with DDD best practices.
</p>



<p>
    ASP.NET Run is a general purpose starter kit application specially designed for new modern web applications. It uses already familiar tools and implements best practices around them to provide you a SOLID development experience. This repository focused on traditional Web Application Development with a single deployment.
</p>

  
